.signupSelect {
  width: 50%;
  height: 40px;
  border: 3px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bolder;
  outline: none;
  transition: all 0.9s ease-in-out;
}

.signupSelect:focus {
  border: 3px solid rgb(44, 209, 231);
}

.signupSelect option {
  font-size: 16px;
  color: #000000;
  width: 50%;
  font-weight: 500;
}

.signupSelect option:checked {
  background-color: rgb(44, 209, 231);
  color: #000;
}

.signupSelect option:hover {
  background-color: #444;
  /* Darker gray hover background */
  color: #fff;
}